
.copyright-area{
  background-color: #00000093;
  margin-top: 260px;
}
.copyright-text p {
  margin: 0;
  color: #fffbfb;
  width: fit-content;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #fff9f9;
}
