#pagination {
    float: right;
}

.table {
    margin-top: 3%;
    max-width: 1200px;
    text-align: center;
    margin-right: 22%;
    overflow: scroll;
}

@media screen and (max-width: 400px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .table {
        width: max-content;
    }
}

.status {
    background-color: rgb(51, 219, 51);
}